<div class="container theme-showcase" role="main" style="text-align:center;">
	<div class="jumbotron" style="text-align:center">
		<h2 style="font-family:'Spicy Rice',cursive;"><br/>Beer by the charts</h2>
		<p>Because who doesn't love a little math with their beer?</p>
		<div class="shameless-plug">
			<a href="https://www.linkedin.com/in/JoeyMckenzie/" target="_blank"><img class="contact-link" style="border-radius:50%" src="img/linkedin2.png"></a>
			<a href="https://www.github.com/joey32793" target="_blank"><img class="contact-link" src="img/github-10-xxl.png"></a>
		</div>
	</div>

	<div class="container">
		<p><span style="font-size: 24px;">Like</span> &nbsp;most San Diegans, I love a nice cold craft beer and analyizing data. So... why not combine the two!
		Let's look at some of the "beerography" of San Diego, and some interesting data in general when it comes to the tasty suds.</p>
	</div>
			
	<!-- Sales by division -->
	<div class="container" id="sale-by-division">
		<h3><i class="fa fa-beer" aria-hidden="true"></i> Sales by division</h3>
		<p><i>Source: Gallop Poll</i></p>
		<div id="salesByDivision"></div>
		<br>
	</div>
			
	<!-- Craft brewers -->
	<div class="container" id="craft-breweries">
		<h3><i class="fa fa-beer" aria-hidden="true"></i> Growth of Craft Brewers</h3>
		<p><i>Source: Brewers Association</i></p>
		<div id="craftBreweries"></div>
		<br>
	</div>
            
	<!-- San Diego beer stats -->
	<div class="container" id="san-diego-stats">
		<h3><i class="fa fa-beer" aria-hidden="true"></i> Beerography of San Diego</h3>	
		<p><i>Source: <br>San Diego Craft Brewing Industry: 2016 Update, <br>National University System Institute for Policy Research</i></p>
		<div id="sanDiegoStats"></div>
	</div>
	<br>
    <div class="container">
		<p>Interesting... as the data seems to suggest that as the number of and breweries increases, the number of jobs <i>per</i> brewery remains roughly constant.
		</p>
	</div>
			
</div> <!-- End main -->
			
			
<div class="container-fluid">
	<br>
	<hr>
	<footer>
           <ul>
               <li>San Diego, CA</li>
               <!--<li><div class="bullet"></div></li>-->
               <li><i class="fa fa-circle-o-notch" aria-hidden="true"></i></li>
               <li>joey32793.github.io</li>
               <!--<li><div class="bullet"></div></li>-->
               <li><i class="fa fa-circle-o-notch" aria-hidden="true"></i></li>
               <li id="date"></li>
           </ul>
	</footer>			
</div>